<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.AlarmMapper">

    <select id="getAlarmById" resultType="com.zb.pojo.Alarm">
        select
                Id as Id,
                date as date
        from alarm
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getAlarmListByMap" resultType="com.zb.pojo.Alarm" parameterType="java.util.Map">
        select
                Id as Id,
                date as date
        from alarm
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Id != null and Id!=''">
                    and Id=#{Id}
                </if>
                <if test="date != null and date!=''">
                    and date=#{date}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getAlarmCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from alarm
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Id != null and Id!=''">
                    and Id=#{Id}
                </if>
                <if test="date != null and date!=''">
                    and date=#{date}
                </if>
        </trim>
    </select>

    <insert id="insertAlarm" parameterType="com.zb.pojo.Alarm">
        insert into alarm(
                        Id,
                        date)
        values(
                     #{Id},
                    #{date})
    </insert>

    <update id="updateAlarm" parameterType="com.zb.pojo.Alarm">
        update alarm
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="Id != null and Id!=''">
                            Id=#{Id},
                        </if>
                        <if test="date != null and date!=''">
                            date=#{date}
                        </if>
        </trim>
    </update>
</mapper>