<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.AlarminfoMapper">

    <select id="getAlarminfoById" resultType="com.zb.pojo.Alarminfo">
        select
                Id as Id,
                goodname as goodname,
                unit as unit,
                ckname as ckname,
                check as check,
                alarmid as alarmid
        from alarminfo
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getAlarminfoListByMap" resultType="com.zb.pojo.Alarminfo" parameterType="java.util.Map">
        select
                Id as Id,
                goodname as goodname,
                unit as unit,
                ckname as ckname,
                check as check,
                alarmid as alarmid
        from alarminfo
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Id != null and Id!=''">
                    and Id=#{Id}
                </if>
                <if test="goodname != null and goodname!=''">
                    and goodname=#{goodname}
                </if>
                <if test="unit != null and unit!=''">
                    and unit=#{unit}
                </if>
                <if test="ckname != null and ckname!=''">
                    and ckname=#{ckname}
                </if>
                <if test="check != null and check!=''">
                    and check=#{check}
                </if>
                <if test="alarmid != null and alarmid!=''">
                    and alarmid=#{alarmid}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getAlarminfoCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from alarminfo
        <trim prefix="where" prefixOverrides="and | or">
                <if test="Id != null and Id!=''">
                    and Id=#{Id}
                </if>
                <if test="goodname != null and goodname!=''">
                    and goodname=#{goodname}
                </if>
                <if test="unit != null and unit!=''">
                    and unit=#{unit}
                </if>
                <if test="ckname != null and ckname!=''">
                    and ckname=#{ckname}
                </if>
                <if test="check != null and check!=''">
                    and check=#{check}
                </if>
                <if test="alarmid != null and alarmid!=''">
                    and alarmid=#{alarmid}
                </if>
        </trim>
    </select>

    <insert id="insertAlarminfo" parameterType="com.zb.pojo.Alarminfo">
        insert into alarminfo(
                        Id,
                        goodname,
                        unit,
                        ckname,
                        check,
                        alarmid)
        values(
                     #{Id},
                     #{goodname},
                     #{unit},
                     #{ckname},
                     #{check},
                    #{alarmid})
    </insert>

    <update id="updateAlarminfo" parameterType="com.zb.pojo.Alarminfo">
        update alarminfo
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="Id != null and Id!=''">
                            Id=#{Id},
                        </if>
                        <if test="goodname != null and goodname!=''">
                            goodname=#{goodname},
                        </if>
                        <if test="unit != null and unit!=''">
                            unit=#{unit},
                        </if>
                        <if test="ckname != null and ckname!=''">
                            ckname=#{ckname},
                        </if>
                        <if test="check != null and check!=''">
                            check=#{check},
                        </if>
                        <if test="alarmid != null and alarmid!=''">
                            alarmid=#{alarmid}
                        </if>
        </trim>
    </update>
</mapper>