<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.CaigouenterMapper">

    <select id="getCaigouenterById" resultType="com.zb.pojo.Caigouenter">
        select
                enterID as enterID,
                supplierName as supplierName,
                monetary as monetary,
                billID as billID,
                buyDate as buyDate,
                buyerID as buyerID,
                orderID as orderID,
                operatorID as operatorID,
                enterDate as enterDate,
                opmanIID as opmanIID,
                opDate as opDate,
                examinerID as examinerID,
                examineDate as examineDate,
                others as others,
                examineState as examineState
        from caigouenter
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCaigouenterListByMap" resultType="com.zb.pojo.Caigouenter" parameterType="java.util.Map">
        select
                enterID as enterID,
                supplierName as supplierName,
                monetary as monetary,
                billID as billID,
                buyDate as buyDate,
                buyerID as buyerID,
                orderID as orderID,
                operatorID as operatorID,
                enterDate as enterDate,
                opmanIID as opmanIID,
                opDate as opDate,
                examinerID as examinerID,
                examineDate as examineDate,
                others as others,
                examineState as examineState
        from caigouenter
        <trim prefix="where" prefixOverrides="and | or">
                <if test="enterID != null and enterID!=''">
                    and enterID=#{enterID}
                </if>
                <if test="supplierName != null and supplierName!=''">
                    and supplierName=#{supplierName}
                </if>
                <if test="monetary != null and monetary!=''">
                    and monetary=#{monetary}
                </if>
                <if test="billID != null and billID!=''">
                    and billID=#{billID}
                </if>
                <if test="buyDate != null and buyDate!=''">
                    and buyDate=#{buyDate}
                </if>
                <if test="buyerID != null and buyerID!=''">
                    and buyerID=#{buyerID}
                </if>
                <if test="orderID != null and orderID!=''">
                    and orderID=#{orderID}
                </if>
                <if test="operatorID != null and operatorID!=''">
                    and operatorID=#{operatorID}
                </if>
                <if test="enterDate != null and enterDate!=''">
                    and enterDate=#{enterDate}
                </if>
                <if test="opmanIID != null and opmanIID!=''">
                    and opmanIID=#{opmanIID}
                </if>
                <if test="opDate != null and opDate!=''">
                    and opDate=#{opDate}
                </if>
                <if test="examinerID != null and examinerID!=''">
                    and examinerID=#{examinerID}
                </if>
                <if test="examineDate != null and examineDate!=''">
                    and examineDate=#{examineDate}
                </if>
                <if test="others != null and others!=''">
                    and others=#{others}
                </if>
                <if test="examineState != null and examineState!=''">
                    and examineState=#{examineState}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCaigouenterCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from caigouenter
        <trim prefix="where" prefixOverrides="and | or">
                <if test="enterID != null and enterID!=''">
                    and enterID=#{enterID}
                </if>
                <if test="supplierName != null and supplierName!=''">
                    and supplierName=#{supplierName}
                </if>
                <if test="monetary != null and monetary!=''">
                    and monetary=#{monetary}
                </if>
                <if test="billID != null and billID!=''">
                    and billID=#{billID}
                </if>
                <if test="buyDate != null and buyDate!=''">
                    and buyDate=#{buyDate}
                </if>
                <if test="buyerID != null and buyerID!=''">
                    and buyerID=#{buyerID}
                </if>
                <if test="orderID != null and orderID!=''">
                    and orderID=#{orderID}
                </if>
                <if test="operatorID != null and operatorID!=''">
                    and operatorID=#{operatorID}
                </if>
                <if test="enterDate != null and enterDate!=''">
                    and enterDate=#{enterDate}
                </if>
                <if test="opmanIID != null and opmanIID!=''">
                    and opmanIID=#{opmanIID}
                </if>
                <if test="opDate != null and opDate!=''">
                    and opDate=#{opDate}
                </if>
                <if test="examinerID != null and examinerID!=''">
                    and examinerID=#{examinerID}
                </if>
                <if test="examineDate != null and examineDate!=''">
                    and examineDate=#{examineDate}
                </if>
                <if test="others != null and others!=''">
                    and others=#{others}
                </if>
                <if test="examineState != null and examineState!=''">
                    and examineState=#{examineState}
                </if>
        </trim>
    </select>

    <insert id="insertCaigouenter" parameterType="com.zb.pojo.Caigouenter">
        insert into caigouenter(
                        enterID,
                        supplierName,
                        monetary,
                        billID,
                        buyDate,
                        buyerID,
                        orderID,
                        operatorID,
                        enterDate,
                        opmanIID,
                        opDate,
                        examinerID,
                        examineDate,
                        others,
                        examineState)
        values(
                     #{enterID},
                     #{supplierName},
                     #{monetary},
                     #{billID},
                     #{buyDate},
                     #{buyerID},
                     #{orderID},
                     #{operatorID},
                     #{enterDate},
                     #{opmanIID},
                     #{opDate},
                     #{examinerID},
                     #{examineDate},
                     #{others},
                    #{examineState})
    </insert>

    <update id="updateCaigouenter" parameterType="com.zb.pojo.Caigouenter">
        update caigouenter
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="enterID != null and enterID!=''">
                            enterID=#{enterID},
                        </if>
                        <if test="supplierName != null and supplierName!=''">
                            supplierName=#{supplierName},
                        </if>
                        <if test="monetary != null and monetary!=''">
                            monetary=#{monetary},
                        </if>
                        <if test="billID != null and billID!=''">
                            billID=#{billID},
                        </if>
                        <if test="buyDate != null and buyDate!=''">
                            buyDate=#{buyDate},
                        </if>
                        <if test="buyerID != null and buyerID!=''">
                            buyerID=#{buyerID},
                        </if>
                        <if test="orderID != null and orderID!=''">
                            orderID=#{orderID},
                        </if>
                        <if test="operatorID != null and operatorID!=''">
                            operatorID=#{operatorID},
                        </if>
                        <if test="enterDate != null and enterDate!=''">
                            enterDate=#{enterDate},
                        </if>
                        <if test="opmanIID != null and opmanIID!=''">
                            opmanIID=#{opmanIID},
                        </if>
                        <if test="opDate != null and opDate!=''">
                            opDate=#{opDate},
                        </if>
                        <if test="examinerID != null and examinerID!=''">
                            examinerID=#{examinerID},
                        </if>
                        <if test="examineDate != null and examineDate!=''">
                            examineDate=#{examineDate},
                        </if>
                        <if test="others != null and others!=''">
                            others=#{others},
                        </if>
                        <if test="examineState != null and examineState!=''">
                            examineState=#{examineState}
                        </if>
        </trim>
    </update>
</mapper>