<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.EnterdetailMapper">

    <select id="getEnterdetailById" resultType="com.zb.pojo.Enterdetail">
        select
                enterDetailID as enterDetailID,
                enterID as enterID,
                goodsID as goodsID,
                quantity as quantity,
                uintprice as uintprice,
                others as others
        from enterdetail
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getEnterdetailListByMap" resultType="com.zb.pojo.Enterdetail" parameterType="java.util.Map">
        select
                enterDetailID as enterDetailID,
                enterID as enterID,
                goodsID as goodsID,
                quantity as quantity,
                uintprice as uintprice,
                others as others
        from enterdetail
        <trim prefix="where" prefixOverrides="and | or">
                <if test="enterDetailID != null and enterDetailID!=''">
                    and enterDetailID=#{enterDetailID}
                </if>
                <if test="enterID != null and enterID!=''">
                    and enterID=#{enterID}
                </if>
                <if test="goodsID != null and goodsID!=''">
                    and goodsID=#{goodsID}
                </if>
                <if test="quantity != null and quantity!=''">
                    and quantity=#{quantity}
                </if>
                <if test="uintprice != null and uintprice!=''">
                    and uintprice=#{uintprice}
                </if>
                <if test="others != null and others!=''">
                    and others=#{others}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getEnterdetailCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from enterdetail
        <trim prefix="where" prefixOverrides="and | or">
                <if test="enterDetailID != null and enterDetailID!=''">
                    and enterDetailID=#{enterDetailID}
                </if>
                <if test="enterID != null and enterID!=''">
                    and enterID=#{enterID}
                </if>
                <if test="goodsID != null and goodsID!=''">
                    and goodsID=#{goodsID}
                </if>
                <if test="quantity != null and quantity!=''">
                    and quantity=#{quantity}
                </if>
                <if test="uintprice != null and uintprice!=''">
                    and uintprice=#{uintprice}
                </if>
                <if test="others != null and others!=''">
                    and others=#{others}
                </if>
        </trim>
    </select>

    <insert id="insertEnterdetail" parameterType="com.zb.pojo.Enterdetail">
        insert into enterdetail(
                        enterDetailID,
                        enterID,
                        goodsID,
                        quantity,
                        uintprice,
                        others)
        values(
                     #{enterDetailID},
                     #{enterID},
                     #{goodsID},
                     #{quantity},
                     #{uintprice},
                    #{others})
    </insert>

    <update id="updateEnterdetail" parameterType="com.zb.pojo.Enterdetail">
        update enterdetail
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="enterDetailID != null and enterDetailID!=''">
                            enterDetailID=#{enterDetailID},
                        </if>
                        <if test="enterID != null and enterID!=''">
                            enterID=#{enterID},
                        </if>
                        <if test="goodsID != null and goodsID!=''">
                            goodsID=#{goodsID},
                        </if>
                        <if test="quantity != null and quantity!=''">
                            quantity=#{quantity},
                        </if>
                        <if test="uintprice != null and uintprice!=''">
                            uintprice=#{uintprice},
                        </if>
                        <if test="others != null and others!=''">
                            others=#{others}
                        </if>
        </trim>
    </update>
</mapper>