<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.GoodbackdetailMapper">

    <select id="getGoodbackdetailById" resultType="com.zb.pojo.Goodbackdetail">
        select
                id as id,
                good as good,
                price as price,
                goodbackId as goodbackId,
                quantity as quantity
        from goodbackdetail
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getGoodbackdetailListByMap" resultType="com.zb.pojo.Goodbackdetail" parameterType="java.util.Map">
        select
                id as id,
                good as good,
                price as price,
                goodbackId as goodbackId,
                quantity as quantity
        from goodbackdetail
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="good != null and good!=''">
                    and good=#{good}
                </if>
                <if test="price != null and price!=''">
                    and price=#{price}
                </if>
                <if test="goodbackId != null and goodbackId!=''">
                    and goodbackId=#{goodbackId}
                </if>
                <if test="quantity != null and quantity!=''">
                    and quantity=#{quantity}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getGoodbackdetailCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from goodbackdetail
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="good != null and good!=''">
                    and good=#{good}
                </if>
                <if test="price != null and price!=''">
                    and price=#{price}
                </if>
                <if test="goodbackId != null and goodbackId!=''">
                    and goodbackId=#{goodbackId}
                </if>
                <if test="quantity != null and quantity!=''">
                    and quantity=#{quantity}
                </if>
        </trim>
    </select>

    <insert id="insertGoodbackdetail" parameterType="com.zb.pojo.Goodbackdetail">
        insert into goodbackdetail(
                        good,
                        price,
                        goodbackId,
                        quantity)
        values(
                     #{good},
                     #{price},
                     #{goodbackId},
                    #{quantity})
    </insert>

    <update id="updateGoodbackdetail" parameterType="com.zb.pojo.Goodbackdetail">
        update goodbackdetail
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="good != null and good!=''">
                            good=#{good},
                        </if>
                        <if test="price != null and price!=''">
                            price=#{price},
                        </if>
                        <if test="goodbackId != null and goodbackId!=''">
                            goodbackId=#{goodbackId},
                        </if>
                        <if test="quantity != null and quantity!=''">
                            quantity=#{quantity}
                        </if>
        </trim>
    </update>
</mapper>